@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/* Generic styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'roboto', sans-serif;
}

/* Header Styles */

header {
    background-color: black;
    padding: .5rem 1rem;
    position: fixed;
    z-index: 99;
    height: auto;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
    margin-top: 15px;
}

.nav-links {
    cursor: pointer;
}

.nav-links > a:hover {
    color: red;
}

/* Main Content */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
    height: 100vh;
    background: url("../images/felt.webp") no-repeat center / cover;
}

section {
    padding: 10px;
    margin: 15px;
    text-align: center;
    /* temporary border */
    border: solid 1px black;
}

.play-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    background-color: #c6896a;
}

.play-button:hover {
    opacity: 0.8;
}

/* Betting options */
.betting-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.place-bet-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: opacity 0.3s ease;
    background-color: #c6896a;
}

/* Game Area */
.game-area {
    position: relative; 
    z-index: 1; 
}

.dealers-hand{
    margin-top: 20px;
}

.pot {
    margin-top: 40px;
}

.players-hand {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    height: 150px;
}

.players-hand2 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    height: 75px;
}

.bust {
    position: absolute; /* Position absolutely */
    top: 50%; /* Move to the middle vertically */
    left: 50%; /* Move to the middle horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    z-index: 100;
    font-size: 3rem;
    font-weight: bolder;
    color: #e53935;
    background-color: black;
    border-radius: 10%;
    padding: 5px;
    display: none;
}

.dealers-hand {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    height: 150px;
}

.dealers-hand2 {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    height: 75px;
}

.players-hand img,
.players-hand2 img,
.dealers-hand img,
.dealers-hand2 img {
    max-width: 100%; 
}

.card {
    width: 100px; 
}

.new-card {
    width: 50px;
}

.card4,
.card2 {
    position: absolute; /* Position the cards absolutely within the relative container */
    left: 105px;
    z-index: 2; /* Ensure card4 is on top */
}

.card3,
.card1 {
    position: absolute;
    z-index: 1; /* Lower the z-index of card3 to be underneath card4 */
}

.players-chips {
    margin-top: 20px;
}

/* Game Area Buttons */
.game-control, .chip {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.hit {
    background-color: #4CAF50; /* Green */
}

.stand {
    background-color: #f44336; /* Red */
}

.chip {
    width: 40px;
    height: 40px;
    padding: 0;
    color: black;
    text-align: center;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

/* Chip Colors */
.gold {
    background-color: #FFD700; /* Gold */
}

.bronze {
    background-color: #CD7F32; /* Bronze */
}

.light-grey {
    background-color: #D3D3D3; /* Light Grey */
}

.dark-grey {
    background-color: #808080; /* Dark Grey */
}

.all-in {
    background-color: blue;
    color: aliceblue;
    font-size: smaller;
}

/* Hover Effect for Buttons and Chips */
.game-control:hover, .chip:hover {
    opacity: 0.8;
}

/* Hover Effect for Hit and Stand Buttons */
.hit:hover {
    background-color: #45a049; /* Darker Green */
}

.stand:hover {
    background-color: #e53935; /* Darker Red */
}

/* End Game area */
.end-game-screen {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed; /* Change position to fixed */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the element */
    z-index: 999; /* Set a higher z-index to ensure it appears on top */
    display: none;
}

.end-game-chips {
    margin: 20px 0;
    color: black;
    background-color: white;
    border-radius: 10%;
    font-weight: bold;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 1rem 0;
}

footer i {
    font-size: 2rem;
}

footer i:hover {
    color: red;
}

.flip-in-ver-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-4-23 22:19:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-ver-right
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-ver-right {
    0% {
      -webkit-transform: rotateY(-80deg);
              transform: rotateY(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
      opacity: 1;
    }
  }
  